@tailwind base;
@tailwind components;
@tailwind utilities;

/* Strict black & white theme: grayscale only */
@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply antialiased text-black bg-white min-h-screen;
  }
}
